<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/Curso.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Curso</title>
</head>
</head>

<body>

  <!--
    <nav class="navbar">
        <header class="navbar">
            <div class="posi-navbar">
              <img src="static/imgs/Logo_liberty.svg" alt="Logo Liberty" class="logo-navbar" />
          
              <input
                type="text"
                name="search"
                placeholder="Digite Aqui..."
                class="inputNavbar"
                aria-label="Buscar"
              />
          
              <nav class="nav-links">
                <a href="/login" class="login">Login</a>
                <a href="/cadastro" class="cadastrar">Cadastrar-se</a>
              </nav>
            </div>
          </header>
      </nav>
    --> 

    <div class="descrição">
        <h1>Arduino - Passo a Passo</h1>
        <p>Neste curso, você aprenderá desde os conceitos básicos de eletrônica até projetos avançados com o Arduino.
            Vamos explorar<br>
            sensores,
            motores, LEDs e muitos outros componentes para criar dispositivos interativos e inteligentes.
            Não é necessário ter<br>
            conhecimento prévio em eletrônica ou programação. Com a orientação de nossos instrutores especializados,
            você terá<br> a oportunidade
            de desenvolver suas habilidades e transformar suas ideias em realidade.</p>
        <div class="imagem">
            <img class="imagem-curso" src="static/imgs//Image 5.svg">
            <br>
            <button class="buttonStart"><a href="/video">Iniciar Curso</a></button>
            <button class="buttonBuy"><a href="#">Comprar</a></button>

        </div>

       
        <div class="feedback">     
            <h1>R$ 99,90</h1>
            <div class="rating">
                <img src="static/imgs//Number_5.svg" class="number" alt="Número 5">
                <img src="static/imgs//Star.svg" class="stars" alt="Estrela">
                <img src="static/imgs//Star.svg" class="stars" alt="Estrela">
                <img src="static/imgs//Star.svg" class="stars" alt="Estrela">
                <img src="static/imgs//Star.svg" class="stars" alt="Estrela">
                <img src="static/imgs//Star.svg" class="stars" alt="Estrela">
            </div>
            <h3>Professor Tiago Henrique</h3>

            
        </div>
<br>
<br>
<br>

        <hr>

        
        <div class="objetivo">
            <h1>Objetivos do curso </h1>

            <p> - Até o término do curso, você adquirirá um sólido entendimento das capacidades do Arduino Uno,
                considerado o melhor Arduino para iniciantes,
                e estará familiarizado com</br> as funcionalidades de
                diversos outros modelos da sua família.</p>
        </div>

    </div>

  
    
    <footer class="footer">
        <div class="footer-section">
          <h1 class="footer-title">Tá com dúvida?</h1>
          <nav>
            <ul class="footer-links">
              <li><a href="#">Quem somos?</a></li>
            </ul>
          </nav>
          <img src="static/imgs/Logo_liberty.svg" alt="Logo Liberty" class="logo-footer" />
        </div>
      
        <div class="footer-section">
          <h1 class="footer-title">Quer saber mais?</h1>
          <nav>
            <ul class="footer-links">
              <li><a href="#">Contato</a></li>
              <li><a href="#">Trabalhe conosco</a></li>
              <li><a href="#">Termos</a></li>
              <li><a href="#">Política de privacidade</a></li>
              <li><a href="#">Configurações de cookie</a></li>
            </ul>
          </nav>
        </div>
      
        <div class="footer-section">
          <h1 class="footer-title">Fale com a gente</h1>
          <div class="footer-icons">
            <a href="#"><img src="static/imgs/Icon_message.svg" alt="Mensagem" /></a>
            <a href="#"><img src="static/imgs/Icon_whatsapp.svg" alt="WhatsApp" /></a>
          </div>
      
          <h2 class="footer-subtitle">Nossas Redes</h2>
          <div class="footer-social">
            <a href="#"><img src="static/imgs/Icon_instagram.svg" alt="Instagram" /></a>
            <a href="#"><img src="static/imgs/Icon_youtube.svg" alt="YouTube" /></a>
          </div>
      
          <p class="footer-copy">© 2023 Liberty Cursos, Inc</p>
        </div>
    </footer>
      
      
  </body>
</html>