<footer class="footer">
    <div class="footer-section">
      <h1 class="footer-title">Tá com dúvida?</h1>
      <nav>
        <ul class="footer-links">
          <li><a href="#">Quem somos?</a></li>
        </ul>
      </nav>
      <img src="static/imgs/Logo_liberty.svg" alt="Logo Liberty" class="logo-footer" />
    </div>
  
    <div class="footer-section">
      <h1 class="footer-title">Quer saber mais?</h1>
      <nav>
        <ul class="footer-links">
          <li><a href="#">Contato</a></li>
          <li><a href="#">Trabalhe conosco</a></li>
          <li><a href="#">Termos</a></li>
          <li><a href="#">Política de privacidade</a></li>
          <li><a href="#">Configurações de cookie</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="footer-section">
      <h1 class="footer-title">Fale com a gente</h1>
      <div class="footer-icons">
        <a href="#"><img src="static/imgs/Icon_message.svg" alt="Mensagem" /></a>
        <a href="#"><img src="static/imgs/Icon_whatsapp.svg" alt="WhatsApp" /></a>
      </div>
  
      <h2 class="footer-subtitle">Nossas Redes</h2>
      <div class="footer-social">
        <a href="#"><img src="static/imgs/Icon_instagram.svg" alt="Instagram" /></a>
        <a href="#"><img src="static/imgs/Icon_youtube.svg" alt="YouTube" /></a>
      </div>
  
      <p class="footer-copy">© 2023 Liberty Cursos, Inc</p>
    </div>
  </footer>