<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/Home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <title>Home</title>
  </head>

  <body>
    <header class="navbar">
        <div class="posi-navbar">
          <img src="static/imgs/Logo_liberty.svg" alt="Logo Liberty" class="logo-navbar" />
      
          <input
            type="text"
            name="search"
            placeholder="Digite Aqui..."
            class="inputNavbar"
            aria-label="Buscar"
          />
      
          <nav class="nav-links">
            <a href="/login" class="login">Login</a>
            <a href="/cadastro" class="cadastrar">Cadastrar-se</a>
          </nav>
        </div>
      </header>
      
      
      

    <!-- <div class="banner">
      <img src="static/imgs/Image_22.svg" />
      <div class="apresentacao">
        <h1>Bem-vindo à Liberty Cursos</h1>

        <p>
          Aqui, você encontrará uma vasta gama de cursos online nas diversas
          áreas<br />
          de TI, ministrados por especialistas renomados. Nossa plataforma
          oferece a<br />
          flexibilidade e a conveniência de aprender no seu próprio ritmo, de
          onde<br />
          quer que esteja. Junte-se a uma comunidade vibrante de alunos e comece
          a<br />
          sua jornada de aprendizado hoje mesmo!"
        </p>
      </div>
    </div>
    <h1 class="hardSkills">TRILHA HARD SKILLS</h1>
    <span class="questionMark">?</span>
    <div class="hardSkillsBox">
      Hard Skills são habilidades técnicas que podem ser aprendidas e medidas.
      Exemplos incluem programação, design gráfico, análise de dados, e
      habilidades específicas para realizar tarefas no seu campo profissional.
      Elas são adquiridas por meio de educação formal, cursos, ou experiência
      prática.
    </div>
    <div class="iconsHardSkills">
      <img class="iconsHardSkillOne" src="static/imgs/Icon_html.svg" />
      <img class="iconsHardSkillTwo" src="static/imgs/icon_php.svg" />
      <img class="iconsHardSkillThree" src="static/imgs/Icon_devops.svg" />
      <img class="iconsHardSkillFour" src="static/imgs/Icon_database.svg" />
      <img class="iconsHardSkillFive" src="static/imgs/icon_design.svg" />
    </div>
    <button class="buttonHardSkillsOne">Frontend</button>
    <button class="buttonHardSkillsTwo">Backend</button>
    <button class="buttonHardSkillsThree">DevOps</button>
    <button class="buttonHardSkillsFour">
      Data <br />
      Science
    </button>
    <button class="buttonHardSkillsFive">Design</button>
    <hr class="hrSoftSkills" />
    <h1 class="softSkills">TRILHA SOFT SKILLS</h1>
    <span class="questionMarkTwo">?</span>
    <div class="softSkillsBox">
      Soft skills são habilidades interpessoais e comportamentais que facilitam
      a interação e o trabalho em equipe, como comunicação, empatia,
      adaptabilidade e liderança. Ao contrário das hard skills, que são técnicas
      e específicas, as soft skills são habilidades subjetivas e transversais,
      importantes em qualquer área profissional.
    </div>
    <div class="iconsSoftSkills">
      <img class="iconsSoftSkillOne" src="static/imgs/Icon_comunication.svg" />
      <img class="iconsSoftSkillTwo" src="static/imgs/Icon_megaphone.svg" />
      <img class="iconsSoftSkillThree" src="static/imgs/Icon_HandShake.svg" />
      <img class="iconsSoftSkillFour" src="static/imgs/Icon_lamp.svg" />
      <img class="iconsSoftSkillFive" src="static/imgs/Icon_clock.svg" />
    </div>
    <div class="button-softSkills">
      <button class="buttonSoftSkillsOne">Comunicação</button>
      <button class="buttonSoftSkillsTwo">Oratória</button>
      <button class="buttonSoftSkillsThree">Negociação</button>
      <button class="buttonSoftSkillsFour">Criatividade</button>
      <button class="buttonSoftSkillsFive">Produtividade</button>
    </div>

    <h1 class="h1-recomendados">Cursos Recomendados</h1>

    <div class="cardsHardSkils">
      <div class="cardOne">
        <div class="card-img-one">
          <img src="static/imgs/Image 3.svg" />
        </div>
        <div class="cardTextOne">
          <h1>Java Completo 2024</h1>
          <p>R$ 185,90</p>
        </div>
        <div class="cardStars">
          <img src="static/imgs/Number_5.svg" class="rectangleNumber" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
        </div>
      </div>

      <div class="cardTwo">
        <div class="card-img-two">
          <img src="static/imgs/Image 4.svg" />
        </div>
        <div class="cardTextTwo">
          <h1>NodeJs para Avançados<br /></h1>
          <p>R$ 199,90</p>
        </div>
        <div class="cardStars">
          <img src="static/imgs/Number_5.svg" class="rectangleNumber" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
        </div>
      </div>

      <a class="href" href="Curso.html">
        <div class="cardThree">
          <div class="card-img-three">
            <img src="static/imgs/Image 5.svg" />
          </div>
          <div class="cardTextThree">
            <h1>Arduino Passo a Passo</h1>
            <p>R$ 99,90</p>
          </div>
          <div class="cardStars">
            <img src="static/imgs/Number_5.svg" class="rectangleNumber" />
            <img src="static/imgs/Star.svg" class="stars" />
            <img src="static/imgs/Star.svg" class="stars" />
            <img src="static/imgs/Star.svg" class="stars" />
            <img src="static/imgs/Star.svg" class="stars" />
            <img src="static/imgs/Star.svg" class="stars" />
          </div>
        </div>
      </a>
    </div>

    <div class="cardsSoftSkills">
      <div class="cardFour">
        <div class="card-img-four">
          <img src="static/imgs/Image 6.svg" />
        </div>
        <div class="cardTextFour">
          <h1>Curso de Oratoria</h1>
          <p>R$ 59,90</p>
        </div>
        <div class="cardStars">
          <img src="static/imgs/Number_5.svg" class="rectangleNumber" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
        </div>
      </div>
      <div class="cardFive">
        <div class="card-img-five">
          <img src="static/imgs/Image 7.svg" />
        </div>
        <div class="cardTextFive">
          <h1>Tudo Sobre SoftSkills<br /></h1>
          <p>R$ 99,90</p>
        </div>
        <div class="cardStars">
          <img src="static/imgs/Number_4.svg" class="rectangleNumber" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
        </div>
      </div>
      <div class="cardSix">
        <div class="card-img-six">
          <img src="static/imgs/Image 8.svg" />
        </div>
        <div class="cardTextSix">
          <h1>Comunicação Interlectual</h1>
          <p>R$ 85,90</p>
        </div>
        <div class="cardStars">
          <img src="static/imgs/Number_5.svg" class="rectangleNumber" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
          <img src="static/imgs/Star.svg" class="stars" />
        </div>
      </div>
    </div>
    <div>
      <h1 class="ofertash1">OFERTAS</h1>

      <div class="divReact">
        <img src="static/imgs/Image 9.svg" />
        <h1>Desenvolvimento Web</h1>
        <p>
          Aprenda React JS na pratica a criar aplicações completas do extremo
          ZERO ao avançado!
        </p>
        <div class="reactImg">
          <img src="static/imgs/Number_5.svg" class="numberReact" />
          <img src="static/imgs/Star.svg" class="starsReact" />
          <img src="static/imgs/Star.svg" class="starsReactTwo" />
          <img src="static/imgs/Star.svg" class="starsReactThree" />
          <img src="static/imgs/Star.svg" class="starsReactFour" />
          <img src="static/imgs/Star.svg" class="starsReactFive" />
        </div>

        <h2>R$27,90</h2>
        <h3>R$169,90</h3>
        <h4>Oferta de 84% de desconto</h4>
      </div>
    </div>

    <div>
      <div class="divSoftSkills">
        <img src="static/imgs/Image 10.svg" />
        <h1 class="react-h1">Como desenvolver a colaboração entre a equipe</h1>
        <p class="ofertas-p">
          São abordados tópicos importantes para aprender a desenvolver e manter
          relações de trabalho colaborativas.
        </p>
        <div class="softSkillsImg">
          <img src="static/imgs/Number_4.svg" class="numberReact" />
          <img src="static/imgs/Star.svg" class="starsReact" />
          <img src="static/imgs/Star.svg" class="starsReactTwo" />
          <img src="static/imgs/Star.svg" class="starsReactThree" />
          <img src="static/imgs/Star.svg" class="starsReactFour" />
        </div>
        <br />
        <h2>R$27,90</h2>
        <h3>R$169,90</h3>
        <h4>Oferta de 84% de desconto</h4>
      </div>
    </div> -->
    <footer class="footer">
        <div class="footer-section">
          <h1 class="footer-title">Tá com dúvida?</h1>
          <nav>
            <ul class="footer-links">
              <li><a href="#">Quem somos?</a></li>
            </ul>
          </nav>
          <img src="static/imgs/Logo_liberty.svg" alt="Logo Liberty" class="logo-footer" />
        </div>
      
        <div class="footer-section">
          <h1 class="footer-title">Quer saber mais?</h1>
          <nav>
            <ul class="footer-links">
              <li><a href="#">Contato</a></li>
              <li><a href="#">Trabalhe conosco</a></li>
              <li><a href="#">Termos</a></li>
              <li><a href="#">Política de privacidade</a></li>
              <li><a href="#">Configurações de cookie</a></li>
            </ul>
          </nav>
        </div>
      
        <div class="footer-section">
          <h1 class="footer-title">Fale com a gente</h1>
          <div class="footer-icons">
            <a href="#"><img src="static/imgs/Icon_message.svg" alt="Mensagem" /></a>
            <a href="#"><img src="static/imgs/Icon_whatsapp.svg" alt="WhatsApp" /></a>
          </div>
      
          <h2 class="footer-subtitle">Nossas Redes</h2>
          <div class="footer-social">
            <a href="#"><img src="static/imgs/Icon_instagram.svg" alt="Instagram" /></a>
            <a href="#"><img src="static/imgs/Icon_youtube.svg" alt="YouTube" /></a>
          </div>
      
          <p class="footer-copy">© 2023 Liberty Cursos, Inc</p>
        </div>
      </footer>
      
  </body>
</html>
