/* Variáveis CSS */
:root {
  --primary-color: #7878ff;
  --secondary-color: #d926d9;
  --background-color: #f2f2f2;
  --white: #ffffff;
  --black: #000000;
  --gray: #848484;
  --hover-color: #d1d1f0;
}

/* Estilos Globais */
body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header e Navbar */
/* Header e Navbar */
.navbar {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

.posi-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Espaço entre os elementos */
  gap: 20px;
  width: 100%; /* Ocupa a largura total do header */
}

/* Logo */
.logo-navbar {
  height: 50px; /* Ajuste conforme necessário */
}

/* Input de pesquisa */
.inputNavbar {
  flex-grow: 1;
  max-width: 300px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 2px solid var(--white);
  background-color: var(--background-color);
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.inputNavbar:focus {
  opacity: 1;
  outline: none;
}

/* Links de navegação */
.nav-links {
  display: flex;
  gap: 15px;
}

.login,
.cadastrar {
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 12px;
  transition: background-color 0.3s ease-in-out;
}

.login:hover,
.cadastrar:hover {
  background-color: var(--hover-color);
  border-radius: 5px;
}
.footer {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 8px 0;
}

.footer-links a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: var(--hover-color);
}

.logo-footer {
  width: 120px;
  margin-top: 10px;
}

.footer-icons a,
.footer-social a {
  margin: 5px;
  display: inline-block;
}

.footer-icons img,
.footer-social img {
  width: 30px;
  transition: transform 0.3s ease-in-out;
}

.footer-icons img:hover,
.footer-social img:hover {
  transform: scale(1.1);
}

.footer-subtitle {
  font-size: 18px;
  margin-top: 15px;
}

.footer-copy {
  font-size: 14px;
  margin-top: 15px;
}
